.flexRowContent {
  display: flex;
}

.promiseContainer {
  width: 100%;
  max-width: 1170px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: -20px;
  z-index: 10;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0px 10px 40px rgba(159, 159, 159, 0.13);
}
.flexRowContent {
  justify-content: center;
}
.flexRowContent :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  border-right: solid 3px #ed1c24;
}

.newsletterButtonWithIcon {
  margin-left: 10px;
}

.promiseItemTitle {
  margin-left: 10px;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  max-width: 73%;
}

.flexRowContent :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  margin-right: 0;
  border: none;
}

.promiseItemLine {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .promiseContainer {
    height: 110px !important;
  }
  .flexRowContent :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .flexRowContent
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) {
    border: none;
  }

  .promiseContainer {
    width: 100% !important;
    padding: 0 10px;
  }
  .promiseContainer .flexRowContent {
    display: flex;
    flex-wrap: wrap;
  }
  .promiseItemTitle {
    margin-bottom: 0 !important;
    padding: 0px 0 0 10px;
    width: 90px;
    word-wrap: break-word;
    margin-left: 0;
  }
  .promiseContainer :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 50% !important;
    margin-bottom: 10px;
  }

  .promiseItemContainer .promiseItemImage {
    width: 40px !important;
    height: 40px !important;
  }

  .promiseItemLine {
    flex-direction: row;
  }

  .promiseItemTitle {
    text-align: left;
  }
}

.newsletterContainer {
  padding-bottom: 25px;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      var(--unnamed-color-ed1c24) 0%,
      #c40008 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent
    radial-gradient(closest-side at 50% 50%, #ed1c24 0%, #c40008 100%) 0% 0%
    no-repeat padding-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.newsletterBeforeHtml {
  height: auto;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 25px auto;
}

.newsletterBeforeHtml :global(.vtex-newsletter-title) {
  margin: 0 auto;
  text-align: center;
}

.newsletterFormContainer {
  width: 100%;
}

.newsletterInput {
  width: 85%;
  margin: 0 auto;
}

.newsletterInputAndButtonContainer {
  position: relative;
}

.newsletterButton {
  position: absolute;
  top: 0;
  right: 2%;
}
.newsletterInput :global(.vtex-input-prefix__group) {
  border-radius: 22px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-left: 25px;
}

.newsletterInput :global(.vtex-input__prefix) {
  display: none;
}

.newsletterButton :global(.vtex-button) {
  background: #ed1c24;
  color: #fff;
  border: none;
  box-shadow: -3px 0px 5px rgb(0 0 0 / 38%);
  border-radius: 22px;
  outline: none;
}

.newsletterTermsText {
  color: #fffafa;
  font-size: 13px;
  text-align: center;
  width: 100%;
}

.newsletterDefaultError {
  color: white;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .newsletterContainer {
    height: auto;
  }
  .newsletterButton {
    position: absolute;
    right: -1px;
  }

  .flexRowContent :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child .promiseItemTitle {
    max-width: 50%;
  }
}

.newsletterCheckbox :global(.vtex-checkbox__line-container) {
  display: none;
}

.newsletterInput :global(.vtex-styleguide-9-x-input) {
  font-size: 14px;
}

.container_contact {
  margin: 60px 0px;
}

.contactTitle {
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 38px;
}

.inputGroupContact {
  width: 100%;
  margin-bottom: 18px;
}

.inputFieldContact,
.textareaFieldContact {
  width: 100%;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #c7c7c7;
  resize: none;
}

.textareaFieldContact {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 100px;
}

.inputGroupContact {
  text-align: right;
}

.primaryContactBtn {
  background: #ed1c24;
  color: #fff;
  border: none;
  box-shadow: -3px 0px 5px rgb(0 0 0 / 38%);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  outline: none;
  border: 0px;
  width: 130px;
  padding: 8px 0px;
  cursor: pointer;
}

.primaryContactBtn:hover {
  background: #fa393f;
}

@media (max-width: 600px) {
  .promiseItemTitle {
    font-size: 9px !important;
    margin: 0;
    font-weight: bold;
  }
}
