.buyButton,
.quantitySelectorContainer {
  width: 100%;
  font-size: 10px;
  padding: 0 3px !important;
  height: 30px !important;
  justify-content: center;
  color: #3c3c3c;
  font-weight: bold;
  align-items: center;
  border-radius: 0;
  border: 1px solid #3c3c3c;
  border-radius: 1px;
  cursor: pointer;
}

.quantitySelectorContainer {
  padding: 0 18px !important;
}

@media (min-width: 600px) {
  .buyButton,
  .quantitySelectorContainer {
    font-size: 14px;
    padding: 0 15px !important;
    height: 43px !important;
  }
}

:global(.vtex-search-result-3-x-galleryItem) .buyButton {
  background: #ed1c24;
  color: white;
  border-color: #ed1c24;
}

.buyButtonText {
  text-transform: uppercase;
}
.buyButton:hover {
  background: #ed1c24;
  color: #fff;
  border: 1px solid #ed1c24;
}

.quantitySelectorContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ed1c24;
  color: #ed1c24;
}

.quantitySelectorPluss,
.quantitySelectorMinus,
.quantitySelectorDelete {
  width: 22px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  color: #ed1c24;
  border: solid 1px #ed1c24;
}

.quantitySelectorDelete {
  display: none;
}

.quantitySelectorQuantity {
  height: 38px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
  color: #59595b;
}

@media (max-width: 600px) {
  .buyButtonIcon {
    display: none;
  }

  .buyButton {
    justify-content: center;
    height: 36px;
    padding: 0;
  }

  .quantitySelectorDelete {
    display: none;
  }

  .quantitySelectorQuantity {
    height: 36px;
    width: 100%;
    padding: 0;
  }
}

.dummy {
  width: 50px;
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 15px;
  margin-left: 20px;
}

.containerManager {
  padding: 20px 4px 10px;
}

.buyButtonIcon {
  display: none;
}

.descriptionCollapse {
  display: none;
}

@media (max-width: 600px) {
  .containerDescription {
    display: none;
  }

  .descriptionCollapse {
    display: block;
  }
}

/* Product Specification */
:global(.vtex-flex-layout-0-x-flexRow--product-specification)
  .specificationContainer {
  flex-direction: column;
  border-top: 3px solid #f8f8f8;
  margin: 20px 0 0;
}
:global(.vtex-flex-layout-0-x-flexRow--product-specification)
  .specificationItem {
  flex-direction: row;
  width: 100% !important;
  height: auto;
  justify-content: flex-start;
  margin: 20px 0 0;
  border: none;
}

:global(.vtex-flex-layout-0-x-flexRow--product-specification)
  .specificationRipple {
  display: none !important;
}

:global(.vtex-flex-layout-0-x-flexRow--product-specification)
  .specificationLabel {
  color: #3c3c3c;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  padding-right: 8px;
}

:global(.vtex-flex-layout-0-x-flexRow--product-specification)
  .specificationLabel::before {
  content: ":";
  position: absolute;
  right: 0;
  top: -1px;
}

:global(.vtex-flex-layout-0-x-flexRow--product-specification)
  .specificationValue {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
}

.collapsibleContainer,
.tabsDescriptionContainer {
  padding: 0 20px;
  margin-bottom: 0;
}

.webTabsContainer :global(.vtex-tab__button) {
  padding: 20px 10px;
}


.unavailable::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 46%;
  height: 35px;
  z-index: 1;
  background: gray;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
}

.unavailable::after{
  content: 'No disponible';
  position: absolute;
  left: 0px;
  top: 10px;
  width: 46%;
  height: 35px;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
