.openIconContainer {
  padding: 5px 0;
}

.overlay,
.drawer {
  top: 80px;
}

.drawer {
  box-shadow: 0px 0px 2px 0px #818181;
}

.drawer::after {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  top: -11px;
  left: 56px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: #fff transparent transparent transparent;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck) .categoryDepartmentsContainer {
  top: 42px;
}

.categoryButtonMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  width: 30px;
}

.showCategoryDepartmentContainerInner {
  background: #ffffff;
}

.categoryDepartmentText,
.categoryDepartmentTextMobile {
  font-size: 28px;
}
