.content {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 40em) {
  .content {
    flex-direction: row-reverse;
  }
  .optionsSticky {
    padding-top: 42px;
  }
}

.formTitle:before {
  content: "";
  width: 100%;
  height: 27px;
  background: url(/assets/vtex.file-manager-graphql/images/a6160655-4f55-4bc9-be38-6b8ae0095790___0af78c2a0ba783c1c66bfed876a21d21.svg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
  padding-left: 10px;
}

.optionsSticky .formTitle:before {
  display: none;
}

.formTitle {
  font-weight: bold;
  color: #ed1c24;
  font-size: 14px;
}

.accountOptions {
  text-align: center;
}

.optionsListItem :global(.vtex-button) {
  width: 100%;
  font-size: 12px;
  padding: 0 3px !important;
  justify-content: center;
  color: #3c3c3c;
  font-weight: bold;
  align-items: center;
  border-radius: 0;
  border: 1px solid #3c3c3c;
  border-radius: 1px;
  cursor: pointer;
  background: #ffffff;
}

.forgotPasswordLink,
.dontHaveAccount {
  color: #3c3c3c;
}

.profile {
  padding: 0;
}

:global(.vtex-account_menu-link) {
  opacity: 1 !important;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper)
  :global(.vtex-button) {
  background: #ffffff;
  border: none;
  text-transform: initial;
  color: #5a5a5a;
  outline: none;
}

:global(.vtex-address-form__street) {
  margin-top: 30px;
}
