/* Logo Container */
.flexRowContent--main-header-logo-mobile {
  background: #fafbfb;
  height: 35px;
  display: flex;
  align-items: center;
}
.flexRowContent--main-header-mobile {
  align-items: center;
  background-color: #fafbfb;
  padding: 0;
}
.flexRow--main-header-mobile {
  background: #fff;
}

/* Header */
.flexRow--main-header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/*Carousel Home*/

.flexRowContent--slider-layout-home {
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0 60px 0;
  overflow: hidden;
}

.flexRow--slider-layout-home {
  background: #f0f0f0;
}

/* Main Carousel with banner */
.flexRow--main-carousel-home {
  max-width: 1280px;
  margin: 0 auto;
}

.flexRow--main-carousel-home :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRowContent--home-search-result :global(.vtex-search-result-3-x-gallery) {
  padding: 0;
}

/* Login Container button */
.flexColChild--login-container-desktop {
  margin: 0 40px;
}

.flexColChild--login-container-desktop :global(.vtex-button) {
  outline: none;
}
.flexColChild--login-container-desktop :global(.vtex-button):hover {
  background: rgba(0, 0, 0, 0.1);
}

.flexColChild--login-container-desktop :global(.vtex-button__label) {
  padding: 4px 15px;
}

.flexColChild--login-container-desktop :global(.vtex-login-2-x-label) {
  padding-left: 0px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: bold;
}

/*Shelf*/

.flexRowContent--shelf-home {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flexRow--shelf-home {
  background: #f8f8f8;
  padding: 100px 0px;
}

.flexCol--product-price-healthy {
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
}

.flexColChild--login-container-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.flexColChild--search-bar-row-mobile {
  padding-left: 10px;
  padding-right: 10px;
}
.flexColChild--search-bar-row-mobile :global(.vtex-styleguide-9-x-input) {
  font-size: 13px;
}

.flexCol--minicart-mobile :global(.vtex-button__label) {
  padding-left: 0;
  padding-right: 0;
}

.flexColChild--login-container-mobile :global(.vtex-button__label) {
  padding-left: 10px;
  padding-right: 10px;
}

/*Search Result*/
.flexRowContent--vtex-title-container {
  position: relative;
}
.flexRowContent--vtex-title-container::before {
  content: "";
  width: 100%;
  top: calc(50%);
  left: 6%;
  height: 6px;
  position: absolute;
  background: #b1b1b1;
}

.flexRowContent--vtex-title-container .stretchChildrenWidth:first-child {
  width: auto !important;
}

.flexColChild--vtex-search-result-title
  :global(.vtex-search-result-3-x-galleryTitle--layout) {
  color: #3c3c3c;
  font-size: 30px;
  width: auto;
  background: white;
  z-index: 2;
  position: relative;
  padding-right: 30px;
  max-width: 245px;
}

@media (min-width: 600px) {
  .flexColChild--vtex-search-result-title
    :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-size: 50px;
    max-width: 400px;
  }
}

.flexRow--vtex-title-container {
  overflow: hidden;
}
.flexRow--searchInfo-container {
  border-bottom: solid 3px #f0f0f0;
  margin-bottom: 30px;
}

.flexRow--search-fetch-previous-mobile {
  border-top: 2px solid #f0f0f0;
}

/* Product Details */

.flexRowContent--product-details-price
  :global(.vtex-product-price-1-x-sellingPriceValue) {
  font-size: 24px;
}

.flexRowContent--product-details-price
  :global(.vtex-product-price-1-x-listPriceValue) {
  font-size: 24px;
}

.flexRowContent--product-details-price-mobile
  :global(.vtex-product-price-1-x-sellingPriceValue) {
  font-size: 28px;
}

.flexRowContent--product-details-price-mobile
  :global(.vtex-product-price-1-x-listPriceValue) {
  font-size: 28px;
}

.flexRowContent--product-details-price-mobile {
  border-bottom: 3px solid #f8f8f8;
  margin-bottom: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.flexRow--short-description
  :global(.vtex-store-components-3-x-productDescriptionText)
  :global(.vtex-store-components-3-x-container) {
  height: 130px;
}

.flexRow--short-description :global(.vtex-store-components-3-x-showMoreButton) {
  padding: 10px 45px;
  font-size: 13px;
  font-weight: bold;
  background: white;
  border: solid 1px #3c3c3c;
}

.flexRow--short-description
  :global(.vtex-store-components-3-x-showMoreButton):hover {
  background: #ed1c24;
  border: solid 1px #ed1c24;
  color: #ffffff;
}

/* Product detail Description */
.flexRowContent--short-description
  :global(.vtex-store-components-3-x-productDescriptionTitle) {
  display: none;
}

.flexRowContent--short-description {
  padding: 20px 0;
  border-bottom: 3px solid #f8f8f8;
  margin-bottom: 20px;
}

.flexRowContent--short-description
  :global(.vtex-store-components-3-x-container) {
  color: #000000;
  font-size: 14px;
}

/* Product Detail Product Quantity*/
.flexRow--product-quantity
  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  align-items: flex-start;
}

.flexRow--product-quantity-mobile
  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.flexRow--product-quantity
  :global(.vtex-product-quantity-1-x-quantitySelectorStepper),
.flexRow--product-quantity-mobile
  :global(.vtex-product-quantity-1-x-quantitySelectorStepper) {
  border: 1px solid #cccccc;
}

.flexRow--product-quantity :global(.vtex-numeric-stepper__minus-button),
.flexRow--product-quantity :global(.vtex-numeric-stepper__plus-button),
.flexRow--product-quantity :global(.vtex-numeric-stepper__input),
.flexRow--product-quantity-mobile :global(.vtex-numeric-stepper__minus-button),
.flexRow--product-quantity-mobile :global(.vtex-numeric-stepper__plus-button),
.flexRow--product-quantity-mobile :global(.vtex-numeric-stepper__input) {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  position: relative;
}

.flexRow--product-quantity :global(.vtex-numeric-stepper__minus-button__text),
.flexRow--product-quantity :global(.vtex-numeric-stepper__plus-button__text),
.flexRow--product-quantity-mobile
  :global(.vtex-numeric-stepper__minus-button__text),
.flexRow--product-quantity-mobile
  :global(.vtex-numeric-stepper__plus-button__text) {
  border-radius: 50%;
  border: solid 1px #979899;
  font-weight: bold;
  opacity: 1;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.flexRowContent--product-options {
  flex-direction: column;
}

@media (max-width: 600px) {
  .flexRow--breadcrumb-container {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
  }
}

.flexRow--breadcrumb-mobile {
  margin-bottom: 15px;
  margin-top: 17px;
}

/* Page not found */
.flexRowContent--search-not-found {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Order Placed */
.flexRowContent--main-header-logo-order-placed-web {
  background: #fafbfb 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 40px #b4b4b455;
  height: 80px;
  align-items: center;
}
