.relatedProducts {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.title {
  color: #3c3c3c;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto 40px;
}

.arrow {
  background: #ed1c24 !important;
  color: white;
  padding: 9px;
}

.arrowLeft {
  left: -15px;
}

.arrowRight {
  right: -15px;
}

.dot {
  background: rgba(60, 60, 60, 0.14);
  padding: 6px;
  width: 12px;
  height: 12px;
}
.dot--isActive {
  background: #3c3c3c;
  width: 14px;
  height: 14px;
}
