.openIconContainer {
  padding: 0;
}

.openIconContainer :global(.vtex-button) {
  outline: none;
}

.openIconContainer :global(.vtex-button):hover {
  background: rgba(0, 0, 0, 0.1);
}

.minicartIconContainer {
}

.minicartQuantityBadge {
  background-color: #033980;
  color: #fff;
  top: -6px;
  right: -10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  60% {
    transform: scale(1.3);
    opacity: 0.4;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.minicartQuantityBadge::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: pulse 1s ease infinite;
  border-radius: 50%;
  border: 4px double #033980;
}

.minicartTitle {
  text-transform: uppercase;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productBrandName) {
  display: none;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-productName) {
  color: #3c3c3c;
  font-weight: bold;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-removeButton) {
  outline: none;
}

.minicartProductListContainer
  :global(.vtex-product-list-0-x-removeButtonContainer) {
  display: flex;
  justify-content: flex-end;
}

.minicartProductListContainer :global(.vtex__icon-delete) {
  color: #cccccc;
  fill: #cccccc;
}

.minicartProductListContainer :global(.vtex-dropdown__container) {
  border-color: #ed1c24;
}
.minicartProductListContainer :global(.vtex-dropdown__button) {
  color: #ed1c24;
}

.minicartProductListContainer :global(.vtex-dropdown__arrow) {
  color: #ed1c24;
}

.minicartProductListContainer :global(.vtex-product-list-0-x-price) {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 14px;
  color: #0a0a0a;
}

:global(.vtex-checkout-summary-0-x-summarySmallContent)
  :global(.vtex-checkout-summary-0-x-summaryItemLabel),
:global(.vtex-checkout-summary-0-x-summarySmallContent)
  :global(.vtex-checkout-summary-0-x-price) {
  font-weight: 600;
  color: #0a0a0a;
  font-size: 14px;
}

:global(.vtex-checkout-summary-0-x-summarySmallContent)
  :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child
  :global(.vtex-checkout-summary-0-x-summaryItemLabel),
:global(.vtex-checkout-summary-0-x-summarySmallContent)
  :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child
  :global(.vtex-checkout-summary-0-x-price) {
  font-weight: 600;
  color: #0a0a0a;
  font-size: 18px;
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  color: #767676;
  margin: 0 0 10px 0;
}

.minicartCheckoutButton :global(.vtex-button) {
  color: #fff;
  background: #ed1c24;
  border-color: #ed1c24;
  outline: none;
}
