/* Logo Container */
.flexRowContent--main-header-logo-mobile {
  background: #fafbfb;
  height: 35px;
  display: flex;
  align-items: center;
}
.flexRowContent--main-header-mobile {
  align-items: center;
  background-color: #fafbfb;
  padding: 0;
}

/* Header */
.flexRow--main-header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/*Carousel Home*/

.flexRowContent--slider-layout-home {
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0 60px 0;
}

.flexRow--slider-layout-home {
  background: #f0f0f0;
}

/* Main Carousel with banner */
.flexRow--main-carousel-home {
  max-width: 1280px;
  margin: 0 auto;
}

.flexRow--main-carousel-home :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRowContent--home-search-result :global(.vtex-search-result-3-x-gallery) {
  padding: 0;
}

/* Login Container button */
.flexColChild--login-container-desktop {
  margin: 0 40px;
}

.flexColChild--login-container-desktop :global(.vtex-button) {
  outline: none;
}
.flexColChild--login-container-desktop :global(.vtex-button):hover {
  background: rgba(0, 0, 0, 0.1);
}

.flexColChild--login-container-desktop :global(.vtex-button__label) {
  padding: 4px 15px;
}

.flexColChild--login-container-desktop :global(.vtex-login-2-x-label) {
  padding-left: 0px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: bold;
}

/*Shelf*/

.flexRowContent--shelf-home {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flexRow--shelf-home {
  background: #f8f8f8;
  padding: 100px 0px;
}

.flexCol--product-price-healthy {
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
}

.flexColChild--login-container-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.flexColChild--search-bar-row-mobile {
  padding-left: 10px;
}

.flexCol--minicart-mobile :global(.vtex-button__label) {
  padding-left: 0;
  padding-right: 0;
}

.flexColChild--login-container-mobile :global(.vtex-button__label) {
  padding-left: 10px;
  padding-right: 10px;
}

/*Search Result*/
.flexCol--vtex-search-result-row {
  position: relative;
}
.flexCol--vtex-search-result-row::before {
  content: "";
  width: 100%;
  top: calc(50%);
  left: 6%;
  height: 6px;
  position: absolute;
  background: #b1b1b1;
}

.flexRowContent--vtex-title-container .stretchChildrenWidth:first-child {
  width: auto !important;
}

.flexColChild--vtex-search-result-title
  :global(.vtex-search-result-3-x-galleryTitle--layout) {
  color: #3c3c3c;
  font-size: 50px;
}
.flexRow--vtex-title-container {
  overflow: hidden;
}
.flexRow--searchInfo-container {
  border-bottom: solid 3px #f0f0f0;
  margin-bottom: 30px;
}
