.orderByButton {
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 10px 40px rgba(8, 66, 143, 0.133);
  height: 30px;
  margin: 10px 0;
}

.filterPopupTitle {
  color: #ed1c24;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
}
.orderByText {
  color: #000000;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 200;
}

.caretIcon {
  color: #ed1c24;
}
.orderByOptionItem {
  min-width: 180px;
  font-size: 14px;
}

.orderByOptionItem--selected {
  color: #ed1c24;
  font-weight: bold;
  background: none;
  position: relative;
}

.orderByOptionItem--selected::before {
  content: "";
  color: #ed1c24;
  position: absolute;
  right: 20px;
  width: 14px;
  height: 8px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter__container--title {
  display: none;
}

.filterAvailable {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.078);
  border: 1px solid #f8f8f8;
  border-radius: 1px;
  padding: 15px 21px;
}

.filterContent,
.selectedFilterItem {
  padding: 15px 21px;
}

.filter__container {
  margin-bottom: 20px;
  border: none;
}
.filterTemplateOverflow {
  background: #ededed 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.078);
  border: 1px solid #f8f8f8;
  border-radius: 1px;
  padding: 0;
  max-height: 300px !important;
}

.filterAvailable:first-child {
  outline: none;
}

.filterAvailable .filterTitle {
  outline: none;
  color: #3c3c3c;
  font-weight: bold;
  font-size: 16px;
}

.filterItem :global(.vtex-checkbox__line-container) {
  align-items: center;
}

.filterItem :global(.vtex-checkbox__container) {
  margin: 10px 15px 10px 0;
}

.filterItem :global(.vtex-checkbox__label) {
  font-size: 15px;
}

.buttonShowMore :global(.vtex-button) {
  width: 320px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: none;
  color: #3c3c3c;
  border: solid 1px #3c3c3c;
  font-weight: bold;
}

.buttonShowMore :global(.vtex-button):hover {
  background: #ed1c24;
  border-color: #ed1c24;
  color: white;
}

.galleryItem :global(.vtex-product-summary-2-x-container) {
  margin: 0;
  padding: 5px;
}
.galleryItem {
  padding: 10px 5px;
}

@media (min-width: 600px) {
  .galleryItem :global(.vtex-product-summary-2-x-container) {
    margin: 0 10px;
    padding: 10px;
  }
}

.filterPopupButton {
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 10px 40px rgba(8, 66, 143, 0.133);
  height: 30px;
  margin: 14px 0;
}

.filterClearButtonWrapper :global(.vtex-button) {
  border: solid 1px #000;
  color: #000;
  font-weight: bold;
  border-radius: 1px;
}

.filterApplyButtonWrapper :global(.vtex-button) {
  background: #ed1c24;
  color: #fff;
  border: solid 1px #ed1c24;
  border-radius: 1px;
}

.accordionFilterContainer {
  padding: 0;
}

.accordionFilterItemOptions .filterAccordionItemBox {
  height: auto;
  border: 0.5px solid #d0d0d0;
  padding: 15px 10px;
  background: #ededed 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.078);
}

.accordionFilterContainer .accordionFilterItem {
  height: auto;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(70, 70, 70, 0.078);
  border: 1px solid #f8f8f8;
  border-radius: 1px;
  padding: 11px 20px;
  margin: 11px 20px;
}
.accordionFilterItemTitle {
  font-size: 14px;
  color: #3c3c3c;
  font-weight: bold;
}
.accordionFilterContent {
  padding: 0;
}

.filterBreadcrumbsText {
  font-weight: bold;
  outline: none;
}

.filterAccordionItemBox :global(.vtex-checkbox__inner-container) {
  box-shadow: 0px 0px 3px #55555529;
  border: solid 1px #55555529;
}

.filterAccordionItemBox :global(.vtex-checkbox__container) {
  margin-right: 20px;
}
