.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.brandName {
  font-weight: 600;
  font-size: 22px;
  color: #2e2e2e;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}


.container {
  overflow: hidden;
  max-width: 250px;
  background: white;
  border-radius: 1px;
  position: relative;
  margin: 0 10px;
  padding: 10px;
  border: 3px solid rgba(248, 248, 248, 1);
}

.container:hover {
  box-shadow: 0px 2px 6px rgb(57 57 57 / 17%);
  border-color: #ffffff;
}

.element {
  padding: 0;
}

.nameContainer {
  justify-content: center;
  padding: 10px 20px 0;
}

.skuSelectorContainer {
  margin: 0 !important;
  padding: 0 20px 0 10px;
}

.skuSelectorSubcontainer {
  margin-bottom: 10px;
}

.productBrand {
  color: #3c3c3c;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: center;
}

@media (max-width: 600px) {
  .image {
    height: 120px !important;
  }

  .productBrand {
    font-size: 14px;
  }
}

.skuSelectorContainer
  :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  display: none;
}

.skuSelectorContainer
  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.skuSelectorContainer :global(.vtex-store-components-3-x-skuSelectorItemImage) {
  width: 30px !important;
  height: 30px !important;
  margin: 0 5px;
}

.skuSelectorContainer
  :global(.vtex-store-components-3-x-skuSelectorSubcontainer) {
  margin: 0;
}

.skuSelectorInternalBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skuSelectorItemImageValue {
  max-width: initial;
  height: 100%;
}
