.containerImg {
  background-color: #f0f0f0;
}

.containerImg .img {
  max-width: 1520px;
}

.arrow {
  border-radius: 50%;
  background: rgba(225, 225, 225, 0.4);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  background: #ffffff;
}
.arrowLeft {
  margin-left: 15px;
}

.arrowRight {
  margin-right: 15px;
}

.arrowLeft .caretIcon,
.arrowRight .caretIcon {
  width: 15px;
}

.dot {
  background: transparent;
  border: solid 1px #ffffff;
  padding: 6px;
}
.activeDot {
  background: #ffffff;
}
