.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 630px;
  border-radius: 50px 0 0 50px;
  color: #cccccc;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  border: 2px solid #cccccc;
  border-radius: 50px;
  padding: 0;
  background: #fff;
  height: 30px;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  border-radius: 50px;
  background: #ed1c24;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 26px;
  width: 60px;
  color: #fff;
}

.autoCompleteOuterContainer .searchBarIcon {
  padding: 0;
}

.searchBarIcon .searchIcon,
.closeIcon {
  color: #fff;
  fill: #fff;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #ed1c24;
  font-weight: bold;
  font-size: 35px;
}

/* Social Share product detail */
.shareSocialIcon {
  margin: 0 10px 0 0;
}

.shareButtons {
  margin: 20px 0;
}
.shareLabel {
  display: none;
}

/* Product Gallery */
.productImagesGallerySwiperContainer {
  border: 3px solid #f8f8f8;
  padding: 10px;
  background: #fff;
}

.carouselGaleryThumbs {
  margin: 10px auto 0 auto;
  width: 417px;
}

.carouselGaleryThumbs .productImagesThumb {
  width: 110px !important;
  height: 110px !important;
  background: #ededed;
  padding: 0px;
  margin: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f8f8f8;
  border-radius: 1px;
}

.carouselGaleryCursor .swiperPaginationClickable {
}

.carouselGaleryCursor .swiperBullet--active {
  color: #3c3c3c;
  height: 11px;
  width: 11px;
}

.carouselGaleryCursor .swiperBullet {
  height: 11px;
  width: 11px;
}

@media (min-width: 600px) {
  .productImagesGallerySwiperContainer {
    width: 417px;
    height: 420px;
  }
}
